<div style="display:block; height: 100%;">
  <h1>
    Book Info
  </h1>
  <img [src]="getLogo()"/>
  <h2>{{book?.volumeInfo?.title}}</h2>
  <div style="display: block;">
    <h2>Author </h2>
    <span>
      {{book?.volumeInfo?.authors[0]}}
    </span>
  </div>
  <div style="display: block;">
    <h2>Pages </h2>
    <span>
      {{book?.volumeInfo?.pageCount}}
    </span>
  </div>
  <div style="display: block;">
    <h2>Genres</h2>
    <span>
      {{book?.volumeInfo?.categories[0]}}
    </span>
  </div>
  <div style="display: block;">
    <h2>Country</h2>
    <span>
      {{book?.accessInfo?.country}}
    </span>
  </div>
</div>
